@font-face {
    font-family: Everett;
    src: url("font/Everett-Medium.otf") format("opentype");
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --bg-color: #000;
    --gray-color: #999999;
    --nav-color: #202020;
    --nav-text-color: #999999;
    --nav-hover-color: #fff;
    --features-color: #151515;
    --bx-shadow: 8px 0px 30px -24px rgb(0 0 0 / 70%);
    --bx-shadow2: rgb(12 12 12 / 32%) 0px 0px 49px;
}


:root {
    --text-color: #000000;
    --bg-color: #fff;
    --gray-color: #686767;
    --nav-color: #202020;
    --nav-text-color: #999999;
    --nav-hover-color: rgb(255, 255, 255);
    --features-color: #eeeeee;
}



body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    width: 100%;
    height: 50px;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: 'Everett';
    font-size: 23px;
    margin-left: 15px;
    color: white;
}

nav ul {
    margin: 0;
    display: flex;
    height: 100%;
}
nav li {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav button {
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--nav-text-color);
    transition: all 200ms ease 0s;
    outline: none;
}
nav button:hover {
    color: var(--nav-hover-color);
}
nav button:hover ~ svg > path {
    fill: var(--nav-hover-color);
}

nav ul li:first-child {
    padding-left: 15px;
}

nav ul li:last-child a {
    background: #26a6fc;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    padding: 6px 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
}
nav ul li:last-child a:hover {
    background: #5cbeff;

}


.navHover:hover > .subnav {
    /* display: flex; */
    opacity: 1;
    visibility: visible;
}

.subnav {
    width: 100%;
    height: 65px;
    background-color: #2d2d2d;
    top: 50px;
    left: 0;
    color: white;
    position: absolute;
    padding: 10px;
    box-shadow: var(--bx-shadow2);
    /* transform: translateY(-250px); */
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.subnav > a {
    text-decoration: none;
    color: var(--features-color);
    transition: all 500ms ease 0s;
}
.subnav > a:hover {
    color: var(--gray-color)
}









section {
    width: 1024px;
    max-width: 90%;
    margin: 0px auto;
    padding: 40px 0px 0rem;
}



section:last-of-type{
    padding: 0rem 0px 4rem;
}
section:first-of-type{
    padding: 4rem 0px 0rem;
}

.planMenu {
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.animate {
    opacity: 0;
    transition: all 1s ease 0s;
}







.showcase_list {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    max-width: 80%;
}

.showcase_list li {
    border-bottom: 1.3px solid rgb(100, 100, 100);
    color: rgb(153, 153, 153);
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    white-space: nowrap;
    margin-bottom: 4px;
}

.showcase_list button {
    background: transparent;
    padding: 0px 0px 12px;
    color: inherit;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: color 300ms ease 0s;
}

.showcase_list li[aria-selected="true"] {
    border-bottom: 1.3px solid var(--text-color);
    color: rgb(153, 153, 153);
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    white-space: nowrap;
    margin-bottom: 4px;
}

.showcase_list li[aria-selected="true"] button {
    background: transparent;
    padding: 0px 0px 12px;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: color 300ms ease 0s;
    color: var(--text-color);
}






li {
    list-style: none;
}
ul {
    padding-inline-start: 0px;
}


h1 {
    font-size: 50px;
    letter-spacing: -0.025em;
    line-height: 100%;
    font-family: 'Everett';
    color: var(--text-color);
    padding: 0px;
    text-align: center;
    margin: 0px 0px 1.5rem;
    font-weight: normal;
}


h2 {
    text-align: center;
    color: var(--gray-color);

}

h3 {
    text-align: center;
    margin-bottom: 3.7rem;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.3;
    color: var(--gray-color);
}

p {
    line-height: 160%;
    text-align: center;
}

.description {
    width: 604px;
    max-width: 100%;
    margin: 40px auto auto;
    font-size: 18px;
    min-height: 46px;
}

.gray {
    font-size: 22px;
    color: var(--gray-color);
    letter-spacing: 0.05em;
}







#showcase {
    max-width: 100%;
    margin: auto;
}


#plan {
    margin: 240px auto -50px;
    display: block;
    max-width: 90%;
    transition: transform 1.2s cubic-bezier(0.85, 0, 0.15, 1) 0s, opacity 1s;
    border: 1px solid rgb(36, 36, 36);
    box-shadow: rgb(12 12 12 / 32%) 0px 0px 49px;;
    border-radius: 8px;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(1.2) translateY(-200px);
    /* opacity: 1; */
    z-index: 3;
}







.usedby {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: -4rem 0px 3rem;
    justify-content: center;
}

.usedby li {
    margin: 2rem;
}







.center {
    display: flex;
    justify-content: center;
}

.tablette {
    width: 100%;
    position: relative;
    margin: -170px auto 0rem 0;
}

.mobile {
    width: 30%;
    position: absolute;
    top: 3rem;
    right: 7rem;
}

.startBtn {
    background: #26a6fc;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    padding: 6px 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
    box-shadow: var(--bx-shadow2);
}
.startBtn:hover {
    background: #70c6ff;

}







.features_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    margin: 3rem 0px;
}

.features_grid > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;
    background: var(--features-color);
    box-shadow: var(--bx-shadow);
}
.features_grid h3 {
    font-family: Everett, sans-serif;
    letter-spacing: -0.0125em;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    margin: 0px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.features_grid p {
    font-weight: normal;
    line-height: 140%;
    margin: 0px 0px 1rem;
    font-size: 16px;
    color: var(--gray-color);
}




.price-list {
    display: flex;
    justify-content: center;
}
.price-list > div {
    margin: 0 20px;
    width: 40%;
    height: 600px;
    border-top: 10px solid #26a6fc;
    background: rgb(205 205 205);;
    border-radius: 0.25rem;
    /* text-align: center; */
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--bx-shadow);
}

.price-list h2 {
    margin: 8px;
}

h4 {
    text-align: center;
    font-size: 34px;
    margin: 0;
}

hr {
    border: 1px solid #929292;
    border-radius: 1px;
    margin: 25px 0;

}

.price-pros-list {
    padding-inline-start: 40px;
}
.price-pros-list li {
    list-style: inherit;
    padding: 8px 0;
}





.paragraph {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    word-wrap: break-word;
    /* text-indent: 2rem; */
    margin: 4px auto;
    display: block;
}
img.paragraph {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: var(--bx-shadow);

}
iframe.code {
    width: 80%;
    margin: 0 auto;
    height: 453px;
    display: block;
    border: 0;
    overflow: hidden;
}







footer {
    display: flex;
    height: 100px;
    background-color: var(--nav-color);
    color: var(--nav-text-color);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



/* * {
    cursor: none !important;
} */


/* #custom__cursor__inner{
    height: 7.5px;
    width: 7.5px;
    position: fixed;
    transform: translate(0px, 0px);
    background-color: #F7D883;
    border-radius: 50%;
    transition: height .3s cubic-bezier(0.46,0.03,0.52,0.96), width .3s cubic-bezier(0.46,0.03,0.52,0.96);
    z-index: 5000;
    pointer-events: none;
} */

#custom__cursor__outer{
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    background-color: white;
    backface-visibility: hidden;
    /* transition: transform 0.1s ease-out; */
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
}




@keyframes text_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 768px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        font-size: 38px;
    }
    .features_grid {
        display: block;
    }
    .tablette {
        margin: -60px auto 1.5rem 0;
        transform: scale(1.2);
    }
    .mobile {
        display: none;
    }
    nav {
        flex-direction: column;
        height: 80px;
    }
    .logo {
        padding: 8px;
    }
    .subnav {
        top: 80px;
        display: none !important;
    }
    .navHover svg {
        display: none;
    }
    .usedby li {
        margin: 1rem;
    }
    .features_grid > div {
        padding: 2rem;
    }
    .price-list {
        display: block;
    }
    .price-list > div {
        margin: 25px auto;
        width: 88%;
        height: 560px;
    }
    .paragraph {
        width: 100%;
        text-align: start;
        word-wrap: normal;
    }
}